.progress-bar > .bar {
    -fx-background-color: linear-gradient(
            to right, #ff7f50, #6a5acd
    );
}

.anchor {
    /*-fx-background-image: url("/images/background.png");*/
    -fx-background-color: #E6D7BE;
    -fx-background-size: cover;
    -fx-background-attachment: fixed;
}

